/*********** Headings ***********/

.homeBodyLeftColHeading{
    font-family: 'Noto Serif Georgian', serif;
    color: #882D17;
}

/*********** Text ***********/

.homeBodyLeftColText{
    margin-top: 0.5em;
    font-family: 'Noto Sans Georgian', sans-serif;
    color:#085466;
    font-size: 16pt;
    text-align: justify;
}

/*********** Images ***********/

.homeBodyRightColImg {
    width: 90%;
}

/*********** Buttons ***********/

.homeBodyLeftColBtn{
    width: 40%;
}

/*********** Footer ***********/

.homeFooter{
    width: 100%;
    position: absolute;
    bottom: 0;
}


/******************************************/

/*********** Media Queries ***********/

/******************************************/

@media screen and (max-width: 998px) {

    /*********** Text ***********/
    
    .homeBodyLeftColText{
        text-align: left;
    }

}

@media screen and (max-width: 600px) {

    /*********** Container ***********/
    
    .homeBodyLeftCol{
        margin-bottom: 5%;
    }

}


/*

.homeImage{
    width:100%;
}

.homeSlogan{
    background-color:#7E331F;

}



.homeSlogan{
    width:17%;
    z-index: 1;
}

.homeBodyLeftColHeading{
    color:#882D17;
}



.homeBodyLeftColText{
    color:#085466;
    font-size:24px ;
}



.homeBodyLeftCol{
    margin:6%;
    border:1px solid; 
}

.homeBtn{
    font-size:15pt;
    width:22%;
}
*/